<html>
  <head>
    <meta charset="utf-8">
    <title>Seymour!</title>
    <link rel="apple-touch-icon" sizes="180x180" href="static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/favicon/favicon-16x16.png">
    <link rel="manifest" href="static/favicon/manifest.json">
    <link rel="mask-icon" href="static/favicon/safari-pinned-tab.svg" color="#2b5797">
    <link rel="shortcut icon" href="static/favicon/favicon.ico">
    <meta name="msapplication-config" content="static/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>

    <!-- 3rd-party stuff -->
    <!-- <script src="static/3rdparty/ohm.min.js"></script> -->
    <script src="static/3rdparty/jquery-3.2.1.min.js"></script>
    <script src="static/3rdparty/codemirror.js"></script>
    <script src="static/3rdparty/codemirror-python.js"></script>
    <script src="static/3rdparty/checked-emitter.js"></script>
    <script src="static/3rdparty/underscore.js"></script>
    <script src="static/3rdparty/reconnecting-websocket/reconnecting-websocket.min.js"></script>
    <link rel="stylesheet" href="static/3rdparty/codemirror.css">

    <script src="static/python-in-ohm/third_party/diff.js/lcs.js"></script>
    <script src="static/python-in-ohm/third_party/diff.js/diff.js"></script>
    <script src="static/python-in-ohm/SourceLoc.js"></script>
    <script src="static/python-in-ohm/node_modules/ohm-js/dist/ohm.js"></script>
    <script src="static/python-in-ohm/node_modules/underscore/underscore-min.js"></script>
    <script src="static/python-in-ohm/node_modules/lex/lexer.js"></script>
    <script src="static/python-in-ohm/utils.js"></script>
    <script src="static/python-in-ohm/SourceMap.js"></script>
    <script src="static/python-in-ohm/lexer/tokens.js"></script>
    <script src="static/python-in-ohm/lexer/TokenStream.js"></script>
    <script src="static/python-in-ohm/lexer/index.js"></script>
    <script src="static/python-in-ohm/parser/grammar.js"></script>
    <script src="static/python-in-ohm/parser/semantics.js"></script>
    <script src="static/python-in-ohm/parser/ast.js"></script>
    <script src="static/python-in-ohm/parser/instrumented.js"></script>
    <script src="static/python-in-ohm/parser/sourceLoc.js"></script>
    <script src="static/python-in-ohm/parser/id.js"></script>
    <script src="static/python-in-ohm/parser/toAST.js"></script>
    <script src="static/python-in-ohm/parser/easyAst.js"></script>
    <script src="static/python-in-ohm/parser/toList.js"></script>
    <script src="static/python-in-ohm/parser/verify.js"></script>
    <script src="static/python-in-ohm/parser/index.js"></script>
    <script src="static/python-in-ohm/parser/incremental.js"></script>

    <!-- Language ----------------------------------->

    <!-- the interpreter -->
    <!-- <script src="static/lang/activations.js"></script>
    <script src="static/lang/asts.js"></script>
    <script src="static/lang/builtins.js"></script>
    <script src="static/lang/instructions.js"></script>
    <script src="static/lang/Interpreter.js"></script>
    <script src="static/lang/Method.js"></script>
    <script src="static/lang/Obj.js"></script>
    <script src="static/lang/BlockClosure.js"></script>
    <script src="static/lang/Class.js"></script> -->
    <!-- <script src="static/lang/SourceLoc.js"></script> -->

    <!-- syntax stuff -->
    <!-- <script src="static/lang/grammar.js"></script>
    <script src="static/lang/parse.js"></script> -->
    <!-- <script src="static/lang/syntaxHighlight.js"></script>
    <link rel="stylesheet" href="static/syntaxHighlight.css"> -->

    <!-- prelude -->
    <!-- <script src="static/lang/prelude.js"></script> -->

    <!-- Visualizations------------------------------------------>

    <script src="static/viz/Env.js"></script>
    <script src="static/viz/EventRecorder.js"></script>
    <script src="static/viz/MicroVizEvents.js"></script>
    <script src="static/viz/macroViz.js"></script>
    <script src="static/viz/microViz.js"></script>
    <script src="static/viz/events.js"></script>
    <link rel="stylesheet" href="static/viz/microViz.css">
    <link rel="stylesheet" href="static/viz/macroViz.css">

    <!-- Pulling it all together ---------------------------------------------------------------->

    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="static/highlighting.css">
    <div id="topHalf">
      <div id="microVizContainer"></div>
    </div>
    <div id="errorDiv"></div>
    <div id="bottomHalf">
      <ul id="legend">
        <li class="focused"><span class="swatch">▣</span> focused</li>
        <li class="definition"><span class="swatch">▣</span> definition</li>
        <li class="call"><span class="swatch">▣</span> call</li>
        <span id="workingIndicator">⬤</span>
      </ul>
      <div id="macroVizScroller">
        <div id="macroVizContainer"></div>
      </div>
    </div>
    <script src="static/lib.js"></script>
    <!-- <script src="static/setup.js"></script> -->
    <script src="static/highlighting.js"></script>
    <script src="static/pathmatcher.js"></script>
    <!-- <script src="static/seymour.js"></script> -->
    <script src="static/python.js"></script>
    <script src="static/index.js"></script>

  </body>
</html>
